article.story
  #hero(ng-class="story.cover.choice")
    .container
      prx-player(sound="story.sound", prxp-convert="story.cover")
      .media
        prx-img(src="story.current.imageUrl", default-class="default")
        .content
          .category audio story
          h1 {{story.current.title}}
          ul.metadata
            li
              address.author
                | by #{''}
                a(rel="author" ui-sref="story.account") {{story.account.name}}
            li.duration
              | Length: #{''}
              time(datetime="P{{story.current.duration}}S") {{story.current.duration * 1000 | timeCode: 'short' }}
          a.content_advisory(ui-sref=".content_advisory" ng-if="story.current.contentAdvisory") Content Advisory
      prx-social-actions(text="story.current.title")
  #content
    #main
      prx-ad(slot="/41755363/visitor_story_view_less_than_800",
        targeting="{storyId:story.current.id, accountId:story.account.id}")
      section.details
        h2 Details
        p
          | {{story.current.shortDescription}} #{''}
          a.unbreakable(ui-sref=".details" ng-if="story.current.description") (View Full Description)
        .meta
          .term
            | Added to PRX:
            .value {{story.current.publishedAt | timeAgo}}
          .term(ng-if="story.producers")
            | Producers:
            .value {{story.producers}}
          .term(ng-if="story.current.producedOn")
            | Produced:
            .value {{ story.current.producedOn | date : 'mediumDate'}}
          .term(ng-if="story.current.relatedWebsite")
            | Related Site:
            .value
              a(ng-href="{{story.current.relatedWebsite | absUrl }}", rel="nofollow", ng-bind="story.current.relatedWebsite | prettyUrl ", title="{{story.current.relatedWebsite}}")
        ul.tags(ng-show="::story.current.tags")
          li(ng-repeat="tag in ::story.current.tags", ng-bind="tag")
      section.licensing(ng-show="story.license")
        h2 Licensing
        ul
          li.broadcast You may broadcast and simulcast this story for one year.
          li.stream(ng-if="story.license.streamable") You may offer this story on your website as a stream.
          li.stream(ng-if="!story.license.streamable") You may <strong>not</strong> offer this story on your website.
          li.edit(ng-if="story.license.editable") You may edit or excerpt this piece without further permission.
          li.edit(ng-if="!story.license.editable") You may <strong>not</strong> edit or excerpt this piece.
          li.advisory(ng-if="story.current.contentAdvisory")
            | This story includes a #{''}
            strong
              a(ui-sref=".content_advisory") content advisory
            | .
          li.advisory(ng-if="!story.current.contentAdvisory")
            | This story does not include a content advisory.
        h3(ng-if="story.license.additionalTerms") Additional Terms
          p {{story.license.additionalTerms}}
      section.clock(ng-if="story.current.breaks")
        h2 Broadcast Clock
        p This piece contains the following breaks: {{ story.current.breaks | sentence }}.
      section.timing-cues(ng-if="story.current.timingAndCues")
        h2 Timing &amp; Cues
        div(ng-bind-html="story.current.timingAndCues | highlightTimecodes | simpleFormat", limit-to-html="250", html-limited="longCues")
        a.full(ui-sref=".timingCues", ng-if="longCues") (View Full Timing & Cues)
    #asides
      aside
        prx-account(account="story.account")
        prx-account-recent-stories(account="story.account", limit="3", skip="story.current")
