article.upload(on-page-scroll)#step-1
  section
    .header
      h1 Step 1: Create your Story!
      .placeholder(status-bar-placeholder)
      .status(status-bar)
        .container
          h2(ng-bind="upload.story.title || 'Untitled Story'")
          h3 Last saved at 12/12/2013, 0:23:45
    form
      .placeholder(inspector-placeholder)
      .inspector(inspector)
        ol.steps
          li.active STEP 1: Create your story
          li <a href="#step-2">STEP 2: Decorate your story</a>
          li <a href="#step-3">STEP 3: Distribute your story</a>
      fieldset
        label.required
          h2 Story Title
          textarea(ng-model="upload.story.title", required, placeholder="Write a short, Tweetable title like a newspaper headline. Make viewers want to click on your piece from the title alone.")

        label.required
          h2 Teaser
          textarea(ng-model="upload.story.teaser", required, placeholder="A first impression; think of this as a the single-item lead of a piece.")
      fieldset
        label.required
          h2 Audio Files
          ol#audioFiles(as-sortable="upload.dragControlListeners", ng-model="upload.uploads")
            li(as-sortable-item, ng-repeat="upload in upload.uploads")
              .handle(as-sortable-item-handle)
              .play
              select
                option Segment
                option Break
                option Intro
              input(type="text", placeholder="File name (length)")
              .delete ×
              em Waiting...
      fieldset.tagging
        label.required
          h2 Tag Your Story
          p Adding tags that are relevant to your piece help people find your work on PRX and can help you be licensed and heard.
          //- .half
          //-   h4 Genre
          //-   select(ng-options="category for (category, sub) in upload.categories", ng-model="upload.story.category")
          .half
            h4 Genre
            //- select(ng-options="subcategory for subcategory in upload.categories[upload.story.category]", ng-model="upload.story.subcategory")
            select
              optgroup(label="Current Events")
                option US News
                option Politics
                option Business &amp; Economics
                option Commentary &amp; Opinion
                option Sports
                option Science &amp; Technology
                option Health &amp; Medicine
              optgroup(label="Arts & Entertainment")
                option Art &amp; Design
                option Pop Culture
                option Food
                option Movies &amp; Film
                option Music &amp; Musicians
                option Radio Drama
                option Storytelling
                option Books/Literature
                option Sports
              optgroup(label="Culture & Learning")
                option Diary / Essay
                option US History
                option World History
                option Biography
                option Human Interest
                option Society &amp; Justice
              optgroup(label="Music & DJ")
                option AAA
                option Jazz
                option Blues
                option Rock
                option Classical
                option Bluegrass
                option Hip Hop
                option Country
                option Holiday
                option Electronic
                option World
                option Other

          input(placeholder="Type tags for your story.")
          p Suggestions: Dog, Dogs, Beagles, Animals
      fieldset
        label
          h4 Tags
          input(placeholder="Suggestions: Dog, Dogs, Beagles, Animals")
  section#step-2.decorate
    .header
      h1 Step 2: Decorate your Story!
    form
      .placeholder(inspector-placeholder)
      .inspector(inspector)
        ol.steps
          li <a href="#step-1">STEP 1: Create your story</a>
          li.active STEP 2: Decorate your story
          li <a href="#step-3">STEP 3: Distribute your story</a>
        prx-upload-decorate-progress
      fieldset
        h2 Upload a Cover Image
        p Adding tags that are relevant to your piece help people find your work on PRX and can help you be licensed and heard.
        .cover
        h2 Upload a Thumbnail
        p Use your own
        .thumbnail
        a(href="#") + Add caption or credit
      fieldset
        h2 Musical Works
        input(type='text', placeholder="Search for an title, artist, album, or label")
        button Add Work
      fieldset
        h2 Producers
        input(type='text', placeholder="Add producer name")
        button Add Producer
      fieldset
        h2 Details
        h4 Full Description
        textarea(placeholder="Full Description is the full piece of your piece that can be accessed by all users.")
        p Adding a written description of your piece full of keywords, names of interviewees, places and topics will help people find your piece and may improve your chances of being heard and licensed.
        h4 Transcription
        input(type='text', placeholder="Add transcript")
        button Generate transcript
  section#step-3
    .header
      h1 Step 3: Distribute your Story!
    form
      .placeholder(inspector-placeholder)
      .inspector(inspector)
        ol.steps
          li <a href="#step-1">STEP 1: Create your story</a>
          li <a href="#step-2">STEP 2: Decorate your story</a>
          li.active STEP 3: Distribute your story
            
      fieldset
        h2 Marketplace
        p You can manage which purchasers are allowed to license your stories within your account settings. You may also override your account settings for this story below. While PRX reviews and approves these purchasers, we recommend that you closely read each agreement before approval.
        
        fieldset.purchaser
          h2 Public Radio Stations #{''}
          h3 – $30 minimum (average $51) based on the length of your story
          p There are over 400 public radio stations in the United States with an account on PRX. By approving them to purchase your piece you’ll be eligible for royalties (paid accounts only) and your story may be heard by thousands, even millions of listeners.
          a(href="#", ng-disabled="!upload.prsEnabled") Adjust the pricing and agreement
          input#prs(type="checkbox", ng-model="upload.prsEnabled")
          label(for="prs") Approved
        
        fieldset.purchaser
          h2 Listeners #{''}
          h3 – Varies (Donation)
          p You can let listeners download your story and optionally require a minimum donation. We’ll ask everyone to tell you how they intend to use it and suggest they support your financially for your story. This option should only be selected if you have the rights to allow people to download your story. Stories with music in them are likely not cleared for download.
          a.listener-manage(href="#", ng-disabled="!upload.listener") Additional Terms
          input#listener(type="checkbox", ng-model="upload.listener")
          label(for="listener") Permit Listener Downloads
          .donation
            input(type="text", placeholder="Min. Donation", ng-disabled="!upload.listener")
              
        fieldset.purchaser
          h2 PRX Remix #{''}
          h3 – $75 flat fee
          p Be heard on XM Radio Channel 123, iPhone and Andriod apps and over 14 public radio stations around the country.
          a(href="#", ng-disabled="!upload.prxRemixEnabled") View the agreement
          input#remix(type="checkbox", ng-model="upload.prxRemixEnabled")
          label(for="remix") Approved
          
      fieldset
        h2 Third Party Distribution #{''}
        p 
          | PRX can help you spread your story all over the web. By publishing to
          |  other websites, you can increase the exposure and audience of your
          |  story. #{''}
          a(ng-click="learnMore('social')") Learn More
        p(ng-hide='true') Please bear in mind that each of these services exists
          |  outside of the PRX ecosystem, and each of them is subject to its
          |  own terms and conditions. You should make sure you understand the
          |  upsides and downsides before you publish to these other services.
        
        fieldset.purchaser
          h2 SoundCloud #{''}
          p SoundCloud is the world’s leading social sound platform where anyone
            |  can create sounds and share them everywhere.
          p You can choose to have your story automatically published to
            |  SoundCloud, but this requires you to connect your SoundCloud
            |  account to PRX and allow PRX to publish on your behalf.
          a.connect-sc(href="#") Connect to Soundcloud
          input#sc(type="checkbox", disabled="disabled")
          label(for="sc", disabled="disabled") Publish on SoundCloud
        
        fieldset.purchaser
          h2 Public Media Platform #{''}
          p The Public Media Platform is a centralized API for the sharing and
            | distribution of public media stories. Media from various
            | organizations, including NPR and PBS, is included in the PMP.
          a.pmp-settings(href="#", ng-disabled="!upload.pmp") Adjust Metadata
          input#pmp(type="checkbox", ng-model="upload.pmp")
          label(for="pmp") Upload to the PMP
          
        fieldset.purchaser
          h2 YouTube #{''}
          p Founded in February 2005, YouTube allows billions of people to
            |  discover, watch and share originally-created videos. 
          p You can choose to have your story converted to a video and uploaded
            |  to YouTube automatically by PRX, but you'll need to connect your
            |  Google account and grant PRX permission to publish videos on your
            |  behalf.
          a.connect-go(href="#") Connect to Google
          input#yt(type="checkbox", disabled="disabled")
          label(for="yt", disabled="disabled") Publish on YouTube
        
      fieldset
        h2 Podcasts
        p
          | A podcast is a great way to distribute an episodic series of stories
          |  for free over the internet. Listeners can subscribe to your podcast
          |  and automatically be informed when there's a new episode to listen
          |  to. #{''}
          a(ng-click="learnMore('podcast')") Learn More
        
        fieldset.purchaser
          h2 PRX Podcast #{''}
          h3 Free
          p PRX provides podcast hosting, letting you publish new stories as
            | episodes in a podcast.
          p To get started, you'll need to create a podcast on PRX and then come
            | back to this page.
          a(href="#") Create a Podcast
          input#pc(type='checkbox', disabled="disabled")
          label(for="pc", disabled="disabled") Add to a Podcast
